html(lang='fr')
    include ../parts/head.pug
    body
        include ../parts/header.pug
        section
            div.large.large2
                div.second
                    div.fen
                        div.fen_title Thread épinglé
                        div.fen_content
                            each ep in locals.epingle
                                div.epingle
                                    div.epingle_title
                                        a.link(href='/thread/' + ep.str_id) #{ep.title}
                                    div.epingle_user
                                        a.link(href='/profil/' + ep.username) #{ep.user}
                                    div.epingle_temps #{ep.date}
                div.main
                    each t in locals.thread
                        div.fen
                            div.fen_title 
                                a.link(href='/thread/' + t.str_id) #{t.title}
                            div.fen_content.fen_hide!=t.content
                            div.fen_info
                                a.link(href='/profil/' + t.username) #{t.user}
                                div.info_right #{t.date}
                    
                //- div.second
                //-     div.fen
                //-         div.fen_title Thread épinglé
                //-         div.fen_content
                //-             div.epingle
                //-                 div.epingle_info.epingle_title
                //-                     a.link() Un super thread
                //-                 div.epingle_info LordPax • Admin
                //-                 div.epingle_info.epingle_temps 5 jours
                //-             div.epingle
                //-                 div.epingle_info.epingle_title
                //-                     a.link() Les regles elementaire
                //-                 div.epingle_info LordPax • Admin
                //-                 div.epingle_info.epingle_temps 3 heurs

        include ../parts/footer.pug
