html(lang='fr')
    include ../parts/head.pug
    body
        include ../parts/header.pug
        section
            div.large.large2
                div.second
                    div.fen
                        div.fen_title Thread épinglé
                        div.fen_content
                            each ep in locals.epingle
                                div.epingle
                                    div.epingle_title
                                        a.link(href='/thread/' + ep.str_id) #{ep.title}
                                    div.epingle_user
                                        a.link(href='/profil/' + ep.username) #{ep.user}
                                    div.epingle_temps #{ep.date}
                div.main
                    each t in locals.thread
                        div.fen
                            div.fen_title 
                                a.link(href='/thread/' + t.str_id) #{t.title}
                                div.info_right
                                    //- img.more_btn(src='/assets/images/more_btn.png')
                                    - if (locals.userId != 0 && locals.rank == 1)
                                        img.more_btn(src='/assets/images/epingle_no.png')
                                    - if (locals.userId != 0 && t.userId == locals.userId)
                                        img.more_btn(src='/assets/images/edit.png')
                                    - if (locals.userId != 0 && (t.userId == locals.userId || locals.rank == 1))
                                        img.more_btn(src='/assets/images/delete.png')
                            div.fen_content.fen_hide!=t.content
                            div.fen_info
                                a.link(href='/profil/' + t.username) #{t.user}
                                div.info_right #{t.date}

        include ../parts/footer.pug
