html(lang='fr')
    include ../parts/head.pug
    body
        include ../parts/header.pug
        section
            div.large.large2
                div.second
                    div.fen
                        div.fen_title Thread épinglé
                        div.fen_content
                            each ep in locals.epingle
                                div.epingle
                                    div.epingle_title
                                        a.link(href='/thread/' + ep.str_id) #{ep.title}
                                    div.epingle_user
                                        a.link(href='/profil/' + ep.username) #{ep.user}
                                    div.epingle_temps #{ep.date}
                div.main
                    div.fen(class = 't_' + locals.str_id)
                        div.fen_title #{locals.threadTitle}
                            div.info_right
                                - if (locals.userId != 0 && locals.rank == 1)
                                    - if (locals.isEp == 0)
                                        img.more_btn.ep(src='/assets/images/epingle_no.png' onclick='epingleOkThread("' + locals.str_id + '")')
                                    - else
                                        img.more_btn.ep(src='/assets/images/epingle_ok.png' onclick='epingleNoThread("' + locals.str_id + '")')
                                - if (locals.userId != 0 && locals.userIdT == locals.userId)
                                    img.more_btn.edit(src='/assets/images/edit.png')
                                - if (locals.userId != 0 && (locals.userIdT == locals.userId || locals.rank == 1))
                                    img.more_btn.remove(src='/assets/images/delete.png' onclick='removePopupThread("' + locals.str_id + '", "' + locals.userId + '", "' + locals.userIdT + '", "' + locals.rank + '")')
                    div.fen
                        //- div.fen_title #{locals.threadTitle}
                        div.fen_content!=locals.content
                        div.fen_info
                            a.link(href='/profil/' + locals.username) #{locals.user}
                            div.info_right #{locals.date}
                    div.fen
                        
                        div.rep
                            each rep in locals.reponse
                                div.fen_rep
                                    div.fen_name 
                                        a.link(href='/profil/' + rep.username) #{rep.user}
                                        div.info_right #{rep.date}
                                    div.fen_rep_content!=rep.content

                        form#form_rep.form(method='post' action='')
                            input.id_thread(type='hidden' value=locals.str_id)
                            textarea.input_area.input_area_rep(name='input_content' placeholder='contenu de la réponse')
                            div.form_right
                                input.button(type='submit' name='sub' value='Répondre')
                        - if (locals.err)
                            div.fen.msgErr #{locals.err}


                            

        include ../parts/footer.pug